<form {{action lookupSubreddit on="submit"}}>
  {{input value=subreddit}}
  <input type="submit">
</form>

<ul>
{{#each}}
  <li>
    <p>{{this.data.title}}</p>
    <img {{bind-attr src=this.data.url}}>
  </li>
{{/each}}
</ul>
